@keyframes pulse {
  0% {
    transform: scale(1);
    border-color: rgba(255, 255, 255, 0.8);
  }
  50% {
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 1);
  }
  100% {
    transform: scale(1);
    border-color: rgba(255, 255, 255, 0.8);
  }
}

.pulse {
  animation: pulse 0.5s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-player {
  margin: 20px;
}

.add-player input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  background-color: #444;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 210px;
  transition: background-color 0.3s;
  position: relative; /* Add this to position the remove button relative to the player card */
}

.highlight {
  background-color: #4CAF50; 
  border: 2px solid yellow;
}

.button-container button {
  margin: 15px;
  padding: 10px;
  font-size: 16px;
}

.chart-container {
  width: 80%;
  max-width: 800px;
  margin-top: 30px;
}

.btn-add {
  margin-left: 10px;
  background-color: rgb(59, 59, 59);
  padding: 12px;
  border-color: #353535;
  color: #FFFFFF;
  font-weight: bold;
}

.btn-remove {
  /* position: absolute;
  top: 10px; 
  right: 10px; 
  margin-right: -10px; 
  background-color: transparent;
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: color 0.2s; */
  position: absolute;
  margin-left: 75px;
  top: 10px;
}

.btn-remove:hover {
  color: darkred; /* Change color when hovered */
}

.highlight {
  background: linear-gradient(0deg, rgba(24,57,43,1) 0%, rgba(20,69,47,1) 25%, rgba(15,81,50,1) 100%);
  /* background-color: #4CAF50; */
  border: 2px solid yellow;
}

.created-date {
  font-size: 12px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  font-weight: bold;
}

/* input {
  direction: rtl;
} */

h1 {
  font-style: arial;
}

.text {
  font-size: 15px;
  color: #282c34;
}

a {
  text-decoration: none;
  color: #282c34;
}


.dot {
  font-size: 40px;
  margin-top: -12px;
}

.dot1 {
  margin-top: 0;
  font-size: 13px;
  font-weight: bold;
}

/* Butoon */

.custom-btn {
  width: 120px;
  height: 40px;
  margin-left: 5px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.custom-btn12 {
  width: 70px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 11 */

.btn-13 {
  border: none;
  /* background: rgb(251,33,117);
  background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%); */
  background: #77181e;
  background: linear-gradient(0deg, rgba(30,96,145,1) 50%, rgba(26,117,159,1) 100%);
  color: #fff;
}

.btn-11 {
  border: none;
  /* background: rgb(251,33,117);
  background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%); */
  background: #184E77;
  background: linear-gradient(0deg, rgba(30,96,145,1) 50%, rgba(26,117,159,1) 100%);
  color: #fff;
  font-weight: bold;
  overflow: hidden;
}
.btn-11:hover {
  text-decoration: none;
  color: #fff;
}
.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}